@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
}

@theme {
  --color-primary-50: #fcf8ee;
  --color-primary-100: #f6ebcf;
  --color-primary-200: #ecd79b;
  --color-primary-300: #e3bd66;
  --color-primary-400: #dca743;
  --color-primary-500: #d38a2d;
  --color-primary-600: #bc6c25;
  --color-primary-700: #9b4e22;
  --color-primary-800: #7f3f21;
  --color-primary-900: #69341e;
  --color-primary-950: #3b1a0d;

  --font-text: GeneralSans, sans-serif;
  --font-heading: GeneralSans, sans-serif;
}

* {
  @apply font-text;
}

body,
html {
  @apply scroll-pt-16 scroll-smooth text-stone-700;
}

/* Typography  */

h1,
h2,
h3 {
  @apply font-heading leading-tight font-semibold;
}

h1 {
  @apply text-[32px] lg:text-[48px];
}

h2 {
  @apply text-[24px] lg:text-[32px];
}

h3 {
  @apply text-[18px] lg:text-[20px];
}

p {
  @apply text-[14px] lg:text-[16px];
}

button {
  @apply cursor-pointer;
}

label {
  @apply text-xs font-medium tracking-wide;
}

input {
  @apply w-full rounded-lg border border-stone-300 px-3 py-1.5 text-[14px] font-medium text-stone-900 placeholder:text-stone-500 focus:outline-none;
}

.input-group {
  @apply flex flex-col gap-2;
}

.button {
  @apply flex cursor-pointer items-center gap-3 rounded-lg px-4 py-2 font-medium;
}

.primary-button {
  @apply bg-primary-600 hover:bg-primary-500 text-white transition-colors duration-300 ease-in-out;
}

.primary-button-invert {
  @apply text-primary-950 bg-white transition-colors duration-300 ease-in-out hover:bg-primary-50;
}

.navbar-container {
  @apply mx-auto flex w-full items-center justify-between px-4 py-3 md:px-6 lg:max-w-10/11 lg:px-8;
}

.navbar-links {
  @apply hidden items-center gap-6 lg:flex;
}

.navbar-link {
  @apply text-sm font-medium text-white transition-colors duration-300 ease-in-out hover:underline hover:underline-offset-4;
}

.section-container {
  @apply mx-auto flex w-full flex-col gap-8 px-4 py-12 md:gap-12 md:px-6 lg:max-w-10/11 lg:px-8 lg:py-16 xl:py-20;
}

.grid-layout {
  @apply grid grid-cols-1 gap-10 md:grid-cols-2 md:gap-8 lg:grid-cols-3 lg:gap-12;
}

.card {
  @apply flex flex-col gap-4;
}

.footer-link {
  @apply flex items-center gap-2 text-sm font-medium text-white transition-colors duration-300 ease-in-out hover:underline hover:underline-offset-4;
}
